<div class="character-page" *ngIf="playerCharacter">
  <div>Character: {{playerCharacter.characterName}} - {{playerCharacter.stomachState}}</div>
  <div>Money: {{playerCharacter.gold}}g {{playerCharacter.silver}}s {{playerCharacter.copper}}c</div>
  <div>Agility: {{playerCharacter.agility}}</div>
  <div>Charisma: {{playerCharacter.charisma}}</div>
  <div>Intelligence: {{playerCharacter.intelligence}}</div>
  <div>Strength: {{playerCharacter.strength}}</div>
  <div>Inventory: </div>
  <div *ngFor="let consumable of playerCharacter.consumables">
    {{consumable.amount}}x {{consumable.itemname}} <button *ngIf="playerCharacter.stomachState != 'FULL'" (click)="eat(consumable.id)">Eat</button>
  </div>
</div>
