<div>
  <h1>Things you can do here:</h1>
  <ul>
    <li>
      Look at Job Board
      <ul>
        <li>Post Day Job</li>
        <li>Accept Day Job</li>
      </ul>
    </li>
    <li>
      Go to Town House
      <ul>
        <li>Buy Farming Land</li>
        <li>Buy Rights for wood</li>
        <li>Buy Fishing Rights</li>
        <li>Buy Mining Shaft</li>
      </ul>
    </li>
    <li>
      Go to Market
      <ul>
        <li>Buy Food</li>
        <li>Buy Equipment</li>
        <li>Buy Clothes</li>
      </ul>
    </li>
  </ul>
</div>
