<div (click)="selectCharacter()" [ngClass]="{'selected': characterIsSelected()}">MY<br />CHARACTER</div>
<div (click)="selectLocation()" [ngClass]="{'selected': locationIsSelected()}">MY<br />LOCATION</div>
<div (click)="selectMessages()" [ngClass]="{'selected': messagesIsSelected()}">MESSAGES</div>
<div (click)="selectDonate()" [ngClass]="{'selected': donateIsSelected()}" class='highlighted'><div>DONATE</div></div>
<div (click)="selectContact()" [ngClass]="{'selected': contactIsSelected()}">CONTACT</div>
